# Airflow-related files and folders
airflow/
*.pyc
*.pyo
*.pyd

# Airflow logs
#/airflow/logs/
#airflow/*/[Ll]ogs/*
# Logs
*.log

# Other Airflow-specific files
airflow-webserver.pid
airflow-scheduler.pid
airflow.cfg

# Local development files
.env.local

# Ignore compiled files
*.pyc
__pycache__/

# Ignore Docker-specific files
.docker/
docker-compose.override.yml
.dockerignore

# Other files and directories
*.swp
.DS_Store